<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template instance</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        .box {
            width: 200px;
            height: 200px;
            border: 2px dashed #c5161c;
            background-color: #666;
            color: #fff;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>Bu HTML üzerinden yazılan statik bir başlık</h1>
        <h1>{{title}}</h1>
        <p>{{content}}</p>
        <p>{{hobbies[0]}}</p>
        <p>{{personal.name}}</p>
        <div v-html="details"></div>
        <a v-bind:href="url" v-bind:masa="'masadegeri'" :deneme="'string'">Url test</a>
        <br /> <br />
        <!-- <button v-on:click="title = 'Bu benim yeni mesajım...'">Tıkla ve title bilgisini değiştir</button> -->
        <button v-on:click="updateTitle('Bu da başlığı değiştirir...')">Tıkla ve title bilgisini değiştir</button>
        <button @click="updateTitle('Kardeşim bu benim parametrem')">Tıkla ve title bilgisini değiştir</button>
        <br /> <br />
        <div class="box" @mousemove="updateCoords" @click="updateTitle('Div üzerinden gelen mesaj')">
            {{coordX}}, {{coordY}}
        </div>

        <br /> <br />
        <input type="text" v-model="fullName" v-model="fullName">
        <!-- @input="fullName = $event.target.value" -->
        <!-- @input="updateValue('bu benim text', $event)" -->
        {{fullName}}
    </div>
    <script src="app.js"></script>
</body>

</html>